.content {
	margin-top: 50px;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.red{
	color: red;
}
.bold{
	font-weight: bold;
}
.font-20{
	font-size: 20px;
}
.m-t-15{
	margin-top: 15px;
}
.r-10{
	right: 10px;
}
.b-16{
	bottom: 16px;
}
.bg-status{
	color: #fff;
	padding: 8px;
	position: absolute;
	right: 10px;
	bottom: 16px;
}
.bg-new{
	background-color: #C62828;
}
.bg-cancel{
	background-color: #78909C;
}
.bg-confirm{
	background-color: #00796B;
}
.bg-complete{
	background-color: #558B2F;
}