<section data-ng-controller="WechatController" class='m-t-n30'>
	<div class='text-center'>
		<img src='./modules/wechat/img/about.jpg' style="width:100%;max-width:330px"/>
	</div>
	<br/>
	<div class='red bold'>
		奶牛帮是一家专业的母乳喂养支持机构，致力于提供温馨、便捷的上门开奶服务，以帮助更多妈妈实现母乳喂养的人生梦想。
	</div>
	<br/>
	<div class='red bold'>
		2015年上海市总工会“爱心妈咪小屋”爱心企业，同时也是全国知名孕婴杂志——《完美孕妇》的战略合作伙伴。
	</div>
	<br/>
	<div class='red bold'>
		我们的专业开奶师团队包括30年以上临床经验的资深产科护士及持有人社部高级催乳师证书的资深母乳喂养指导师。
	</div>
	<br/>
	<div class='red bold'>
		奶牛帮，上门开奶，专业到家。
	</div>
	<br /><br />
</section>
