<section data-ng-controller="WechatController" class='m-t-n30'>
	<div class='text-center'>
		<img src='./modules/wechat/img/activity.jpg?v=1' style="width:100%;max-width:559px" />
	</div>
	<br/>
	<div class='text-center red bold'>
		奶牛帮入选2014 年上海市总工会爱心<span class='font-20'>妈咪</span>小屋爱心公益奖
	</div>
	<br />
	<div class='red'>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2014年12月28日下午，由上海市总工会女职工委员会、中智上海经济技术合作公司主办，上海爱心妈咪小屋创建推进办公室、《完美孕妇》全媒体联合承办的2014上海爱心妈咪小屋总结推进会暨新年爱心音乐会隆重举行！
	</div>
	<div  class='red'>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在总结推进会的颁奖环节，奶牛帮和雀巢中国等其他三家企业一起荣获2014 年上海市总工会爱心妈咪小屋爱心公益奖，这是对奶牛帮在专业开奶领域为广大新妈妈提供的高效优质上门开奶服务的认可，也是激励奶牛帮在新的一年里为广大妈妈提供更多更好服务的极大动力。 
	</div>
	<br /><br />
</section>
