<section data-ng-controller="WechatController">
	<div class='text-center'>
		<img src='./modules/wechat/img/home.jpg' />
	</div>
	<br/>
	<div>
		--母乳是妈妈给宝宝最好的礼物
	</div>
	<div>
		母乳是上天赐给婴儿最好的食物，它易消化、好吸收，含有多种免疫物质，可帮助婴儿抵抗疾病，又能避免牛奶蛋白过敏所造成的伤害，不但经济、卫生又安全，且妈妈可借着哺乳，增进亲子间的互动，帮助宝宝建立安全感。更可帮助妈妈子宫收缩、避孕，并能有效减少乳腺癌的产生。
	</div>
	<br/>
	<br/>
	<div>
		--“开奶”对母乳喂养的重要性
	</div>
	<div>
		新手妈妈要进行母乳喂养，首先是开奶。这一步是很关键的，如果没做好，会对以后的母乳喂养埋下隐患。一是宝宝可能会拒绝母乳，二是妈妈也可能发生奶水不足或奶涨奶结的情况，严重的还会发生急性乳腺炎。所以，新手妈妈们千万不可忽视开奶的重要性。
	</div>
	<div class='red'>
		开奶一般在产后第三天到第八天进行, 整个哺乳期中如果发生乳结,都需要由专业开奶师进行开奶。
	</div>
	<br/>
	<br/>
	<div>
		--专家的话
	</div>
	<div>
		世界卫生组织这样说：在婴儿出生的头一个小时里就开始母乳喂养；“根据需要”进行母乳喂养，不管白天或是晚上，婴儿一旦有需要就进行喂养，不使用奶瓶或安抚奶嘴。
		我国卫生部这样说：应当在新生儿出生后1小时内开始喂奶，早接触、早吸吮、早开奶，按需哺乳。
	</div>
</section>